@charset "UTF-8";

body {
    background-color: bisque;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: brown;
    background-color: goldenrod;
}
h2 {
    color: red;
}
p {
    text-align: justify;
}